{%load static%} <!--모든 템플릿에 해주기 static 사용시 -->
{% load static fresh_static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}Ask Company {% endblock %}</title>
    <style>
        body {background-color: lightyellow;}
    </style>
        <link rel="stylesheet" href="{%static "main.css" %}"/>
        {%block extra_head%}{% endblock %} <!--css-->
</head>
<body>
    <h1>Ask Company</h1>
    {% block content %}
    {% endblock %}
    <hr />
    &copy; 2018. Ask Comany.
    {% block extra_body %}
        <script src = "{% static 'main.js' %}"></script>
    {% endblock %}
</body>
</html>
